/* Colors */

$main_color:        #009900;
$light_color:       #33CC33;
$highlight_color:   #E83A3A;
$very-dark-gray:    #333;
$dark-gray:         #555;
$gray:              #999;
$med-light-gray:    #BBBBBB;
$light-gray:        #F0F0F0;
$white:             #FFF;

/* Layout */

$content-width:       1000px;
$header-tabs-height:  40px;

$link-color: $main_color;
