<h1>Become a Certified Clinical Hypnotherapist</h1>

<p>
<ul>
  <li>With Randal Churchill, "The Teacher of the Teachers"™</li>
  <li>One of the original institutes teaching hypnotherapy, HTI has the largest alumni of any hypnotherapy school</li>
  <li>People from many states and countries fill our classes each semester. Discover what makes us world leaders</li>
</ul>
</p>

<h2>Classes</h2>
<p>
<ul>
  <li>Serving the World with {{link-to "Accelerated Programs" "accelerated-classes"}} up to 4 Weeks </li>
  <li>Serving Northern California, including {{link-to "Weekend Classes" "weekend-classes"}} </li>
</ul>
</p>

<h2>Mission</h2>
<p>
  Hypnotherapy can be an extraordinarily powerful and effective tool for personal growth and healing. Personal healing helps facilitate planetary healing. Our mission is -
  <ul>
  <li>To provide comprehensive training with high standards for excellence in the field of hypnotherapy, for use as a primary career and as an adjunct to all other professions in the healing arts</li>
  <li>To provide comprehensive training for self-empowerment and personal growth for oneself and friends</li>
  <li>To graduate well-trained hypnotherapists, professionals and researchers who can use hypnosis with profound impact in their work</li>
  <li>To provide the highest level of instruction centered in compassion, service & sincerity</li>
  <li>To assist in the development of inner healing capabilities for our students and their work with others, which will help promote planetary healing</li>
  <li>To encourage high standards of comprehensive training in the field of hypnotherapy</li>
  </ul>
</p>
