<h2>
  Accelerated Certification Courses for the Whole World
</h2>
<p>
This page is for those of you who live far away from where our classes are held. Click {{link-to "here" "weekend-classes"}} if you live in northern California.
Thank you for your interest in our world leading Hypnotherapy Certification courses. Our accelerated classes are designed for persons like you who do not live in our area. The format is 50 hours of instruction per week. People come to these intensives each semester from many states and countries.
</p>
<p>
Our next accelerated intensive beginning August 8 is filling fast. See our Course Schedule for specific dates and details. If you are interested in this program, we recommend you make your reservation soon to guarantee your place. We have had to turn away many prospective students from full courses.
</p>
<p>
You are welcome to take just a portion of any available program, so you can join even if you can just fit the first one or two levels into your schedule. Your options include to use our secure sign-up page, or reserve your place by phone or mail, or contact us by email. Note that there is no sales tax on tuition in California.
</p>

<h2>
  Uniquely Effective Teaching
</h2>
<p>
  We all know what a tremendous difference a very special teacher can make. Randal Churchill and Cheryl Canfield are dedicated to the highest quality education, continuing to use their vast skills and experience to teach 90% of our highly experiential courses. No one could copy the transfomative live demonstrations and follow-up discussions given by these master teachers. HTI's other instructors have all mastered particular aspects of the field as well as providing wonderful teaching skills.
</p>
<p>
Obviously, as important as the number of classroom hours is the quality of time spent. We prepare our students for the hypnotherapy field with an extraordinary repertoire of skills in these 200 hours of very concentrated courses. Emphasizing comprehensive solutions to achieve lasting change, we teach working interactively with the whole person, clearing underlying causes of unwanted attitudes, emotions and behavior.
</p>
<p>
For further reasons besides exceptional teacher quality, we believe we teach more in less time than any school in the field. For example, Randal Churchill has written award-winning teaching texts designed for our comprehensive courses. We also provide a wealth of written materials added to each level.
</p>


<h2>Serving the World</h2>
<p>
  We schedule two accelerated programs (50 class hours per week in class) each year. This course is especially for those from outside of Northern California; and also for local persons who would prefer that format. We are near many popular tourist destinations, including National Parks, beautiful beaches, redwoods and the Napa-Sonoma wine country.
</p>
<p>
We have had students come to our hypnotism certificate courses from over 45 countries, including Canada, Mexico, Bermuda, the Bahamas and other Caribbean countries, Central and South American countries, many European countries (from Iceland, Norway & Finland to Slovenia, Greece & Romania), Cyprus, African countries (from Egypt to Tanzania to South Africa), Turkey, Israel, Kuwait, the U.A.E., Russia, India, Pakistan, Malaysia, China, Hong Kong, Taiwan, Korea, Singapore, Indonesia, Japan, Guam, the Philippines, Australia and New Zealand.
</p>
<p>
Within the United States, our graduates have come from Alabama, Alaska, Arizona, Arkansas, California, Colorado, Connecticut, Delaware, Florida, Georgia, Hawaii, Idaho, Illinois, Indiana, Iowa, Kansas, Kentucky, Louisiana, Maine, Maryland, Massachusetts, Michigan, Minnesota, Mississippi, Missouri, Montana, Nebraska, Nevada, New Hampshire, New Jersey, New Mexico, New York, North Carolina, North Dakota, Ohio, Oklahoma, Oregon, Pennsylvania, Rhode Island, South Carolina, South Dakota, Tennessee, Texas, Utah, Vermont, Virginia, Washington, Washington, D.C., West Virginia, Wisconsin, and Wyoming.
</p>

<div class="pictures">
  <img class="project" alt="Quadrotor" src="images/coast.jpg">
  <img class="project" alt="Colony" src="images/inn.jpg">
  <img class="project" alt="Personal Robotics" src="images/class1.jpg">
  <img class="project" alt="Simple Hands" src="images/class2.jpg">
  <img class="project" alt="Light-up Jacket" src="images/class3.jpg">
</div>
