<main>
  <header>
    <div class="title">
      Hypnotherapy Training Institute
    </div>
    <div class="header-tabs">
      <ul class="navigation">
        <li>{{link-to "About" "about"}}</li>
        <li>{{link-to "Accelerated Classes for the World" "accelerated-classes"}}</li>
        <li>{{link-to "Classes for Northern Californians" "weekend-classes"}}</li>
      </ul>
    </div>
  </header>

  <div>
    {{outlet}}
  </div>
</main>
