<h2>Hypnotherapy Certification Courses in San Francisco Bay Area</h2>
<p>
  Greetings to Northern California! Thank you for your interest in our world leading Hypnotherapy Certification courses. Click {{link-to "here" "accelerated-classes"}} if you live elsewhere.
</p>
<p>
We still have places available in our next class on weekends starting June 27. If you want to join this program, we recommend you make your reservation very soon. See our Course Schedule for specific dates.
</p>
<p>
Our next accelerated intensive beginning August 8 is filling fast. Our accelerated classes can fill far in advance. We have had to turn away many prospective students from full courses. If you are interested in this program, we recommend you sign up soon to ensure your place.
</p>
<p>
You are welcome to take just a portion of any of our available programs, so we invite you to join a class even if you can just fit the first one or two levels into your schedule. You can use our secure sign-up page, or reserve your place by phone or mail, or contact us by email.
</p>


<h2>Free Events</h2>
<p>
  We invite you (and a family member or friend if you'd like) to come to one of our next free introductory evening meetings on Wednesday, May 27 or Thursday, June 18 at 7:00-8:30 pm. Meanwhile, we encourage you to bookmark our website, which is frequently updated. 
</p>


<h2>Serving Northern California</h2>
<p>
 Our San Francisco Bay Area weekend classes are always structured to be all-day meetings, so that the participants can get the most accomplished with the least travel. Classes are conveniently located next to Highway 101, at the Corte Madera Inn in Corte Madera, near San Rafael. The Inn is 10 minutes' drive north of the Golden Gate Bridge. We are six minutes from the Richmond Bridge, the route from Oakland and the East Bay. 
</p>
<p>
Many students in the weekend class have come from the Greater San Francisco Bay Area counties of Alameda, Contra Costa, Lake, Marin, Mendocino, Monterey, Napa, San Francisco, San Mateo, Santa Clara, Solano, and Sonoma. We have had many students who commuted from beyond San Jose, Sacramento and Santa Rosa. In fact, some motivated students have commuted to our weekend classes from Southern California, Nevada, and other states!
</p>
